In [1]:
# Import the Pandas dependency.
import pandas as pd


# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("../Resources/contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [2]:
# Extract the four-digit contact ID number.
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')
print(contacts_string_df['contact_id'])

0      4661
1      3765
2      4187
3      4941
4      2199
       ...
995    3684
996    5784
997    1498
998    6073
999    4939
Name: contact_id, Length: 1000, dtype: object

In [3]:
contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)')
print(contacts_string_df['contact_id'])

0           Cecilia Velasco
1             Mariana Ellis
2               Sofie Woods
3         Jeanette Iannotti
4            Samuel Sorgatz
               ...
995           Whitney Noack
996    Gelsomina Migliaccio
997     Evangelista Pereira
998          Gareth Comolli
999       Michelangelo Hess
Name: contact_id, Length: 1000, dtype: object

In [5]:
# Extract the email address using a regular expression pattern. 
import re
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"
email_address = re.findall(r'(\S+@\S+)', string_data)
email_address

['cecilia.velasco@rodrigues.fr']